<div id="<%= dom_id book %>">
  <p>
    <strong>Title:</strong>
    <%= book.title %>
  </p>

  <p>
    <strong>Writer:</strong>
    <%= book.writer %>
  </p>

  <p>
    <strong>Average:</strong>
    <%= book.average %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= book.description %>
  </p>

</div>
